<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jornah.mybatisdemo.mapper.UserMapper">
    <resultMap id="userResult" type="com.jornah.mybatisdemo.entity.User">
        <id column="id" property="id"/>
        <id column="first_name" property="firstName"/>
        <id column="last_name" property="lastName"/>
        <id column="birth_place" property="birthPlace"/>
    </resultMap>
    <sql id="userColumns">
        ${alias}.id,${alias}.first_name,${alias}.last_name,${alias}.birth_place
    </sql>

    <select id="findUserInfo" resultMap="userResult">
        select
        <include refid="userColumns">
            <property name="alias" value="u"/>
        </include>
        from `user` as u where id=#{id};
    </select>
    <select id="findUserByCond" resultMap="userResult" parameterType="user">
        select
        <include refid="userColumns">
            <property name="alias" value="u"/>
        </include>
        from `user` as u where id=#{id};
    </select>

    <!--    主键回填 ,方法返回值为插入条数， 但是主键已经回填至传入的entity中-->
    <insert id="addUser" keyProperty="id" useGeneratedKeys="true">
    insert into user (first_name,last_name,birth_place)
     values (#{firstName},#{lastName},#{birthPlace})
    </insert>

    <insert id="insertUser" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `user` VALUES (#{id},#{firstName}, #{lastName},now(), 'insert')
        ON DUPLICATE KEY UPDATE first_name=#{firstName}, birth_place='update'
    </insert>

    <insert id="batchInsertUser"  parameterType="java.util.List">
        INSERT INTO `user`(id,first_name,last_name,birthday,birth_place) VALUES
        <foreach collection="list" item="user" separator=",">
            (#{user.id},#{user.firstName}, #{user.lastName},now(), 'insert')
        </foreach>

    </insert>
    <insert id="batchInsertUserWithSet"  parameterType="java.util.Set">
        INSERT INTO `user`(id,first_name,last_name,birthday,birth_place) VALUES
        <foreach collection="users" item="user" separator=",">
            (#{user.id},#{user.firstName}, #{user.lastName},now(), 'insert')
        </foreach>

    </insert>

    <insert id="replaceUser" keyProperty="id" >
        replace INTO `user` VALUES (#{id},#{firstName}, #{lastName},now(), 'replace');

    </insert>

    <update id="updateUser">
        update `user` set first_name=#{firstName},last_name=#{lastName},birth_place=#{birthPlace} where id=#{id}
    </update>
    <delete id="truncateTable">
        truncate `user`
    </delete>


    <select id="findBy" resultMap="userResult" >
        select * from user where id=#{id}
        <if test="fetchSize > 0">
            limit #{fetchSize}
        </if>
    </select>

    <select id="getTableName" resultType="string">
        show tables like 'user' ;
    </select>

</mapper>